<html>
<head>
    <title>WP PWA Title</title>
    <meta name="description" content="">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="WP PWA">
    <meta name="apple-mobile-web-app-title" content="WP PWA Title">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-starturl"
        content="/?utm_source=homescreen&utm_medium=Addtohomescreen&utm_campaign=homescreen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">

    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<a href="/">Home</a>
{{ content }}
<button id="save">Generate Token</button>
<button id="fetch">Fetch Token</button>
<button id="delete">Delete Token</button>
<div id="fetch_contents"></div>
<div id="used" style="display: none">The browser knows you've used a PWA!</div>
<div id="posted_cache" style="display: none">You've told the browser a PWA was in use at <span id="time"></span>!
</div>
<div id="standalone" style="display: none">Standalone detected</div>
<script type="text/javascript">
    const CACHE_URL = '/pwa_in_use';
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js');
    }
    if (window.navigator.standalone == true) {
        generate_pwa_check_token(function(){
            document.querySelector("#posted_cache").style = "display: block";
            document.querySelector("#time").innerHTML = new Date();
        });
        document.querySelector("#standalone").style = "display: block";
    } else {
        fetch_pwa_check_token(function(data){
            if('pwa_in_use' in data){
                document.querySelector("#used").style = "display: block";
            }
        });
    }
    function generate_pwa_check_token(callback) {
        if (typeof (callback) === 'undefined') {
            callback = function() {
                console.log("Saved token!");
            };
        }
        fetch(CACHE_URL, { method: "POST", body: JSON.stringify({ pwa_in_use: true }) }).then(callback);
    }
    function fetch_pwa_check_token(callback) {
        if( typeof(callback) === 'undefined' ) {
            callback = function(data) {
                console.log("Fetched:", JSON.stringify(data));
            };
        }
        fetch(CACHE_URL).then(response => response.json()).then(callback);
    }
    function delete_pwa_check_token(callback) {
        if (typeof (callback) === 'undefined') {
            callback = function () {
                console.log("Deleted.");
            };
        }
        fetch(CACHE_URL, { method: "DELETE" }).then(callback);
    }
    document.querySelector("#save").onclick = generate_pwa_check_token;
    document.querySelector("#fetch").onclick = function(){
        fetch_pwa_check_token(function(data){
            console.log("Fetched:", JSON.stringify(data));
            document.querySelector("#fetch_contents").innerHTML = JSON.stringify(data);
        });
    };
    document.querySelector("#delete").onclick = function(){
        delete_pwa_check_token(function(){
            fetch_pwa_check_token(function (data) {
                console.log("Fetched:", JSON.stringify(data));
                document.querySelector("#fetch_contents").innerHTML = JSON.stringify(data);
            });
        });
    }
</script>
<script async="" src="/pwacompat.js"></script>
</body>

</html>